/* Este archivo es para las propiedades de las paginas aun no responsivas */
/* es decir la pagina de hoteles.html, paquetes.html y viaje.html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
body{
    
    background-image: linear-gradient(109.6deg, rgba(163,217,207,1) 11.3%, rgba(4,178,217,1) 100.2%);
}
header{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.contenedor{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0 ;
}
.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 2%;
}
.enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;

}
.enlaces li{
    margin-left: 5%;
}
.logo{
    margin-top: 2%;
    width: 15%;
}
.logo img{
    border-radius: 20px;
    width: 75%;
}
.rtrt{
    justify-content: center;
    align-items: center;
}
.carru{
    justify-content: center;
    align-items: center;
}
.carrusel{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.carruselsub{
    width: 90%;
    height: 90%;
    
    padding: 20px;
}
.carruselsub img{
    width:99%;
    
    border-radius: 35px;
}

.categorias0{
    width: 100%;
    height: 100%;
    display: flex;
}
.categorias1{
    width: 50%;
    height: 50%;
    margin: 2%;
}
.categorias1 img{
    width: 100%;
    border-radius: 15px;
}
/* Noticias del main */
.noticias{
    margin: 20px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: flex-start;
}
.noticias1{
    padding: 25px;
    align-items: flex-start;
    text-align: center;
    width: 33.3%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: gray;
}


/* Vuelos */
.buscador{
    align-items: center;
    width: 600px;
    height: 289px;
    display: flex; /* Yo se que no va aun pero dejalo ahi queda lindo */
    justify-content: center ;
    border: 2px solid black;
    border-radius: 30px;
    margin: 50px;
}
.imagen{
    justify-content: center;
}
.buscador img{
    width: 100%;
    border-radius: 25px;
}
.categorias-de-vuelos{
   
    margin: 30px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.vuelos{
    
    width: 20%;
}
.vuelos img{
    width: 60%;
    border-radius: 20px;
}
.vuelos h3{
    flex-direction: column;
}
/* Abajo hoteles */
/* section de ofertas */
.imagen-de-oferta{
    margin-top: 25px;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}
.imagen-de-oferta1{
    width: 90%;
}
.imagen-de-oferta1 img{
    width: 100%;
    border-radius: 5%;
}
/* categorias de hoteles */
.cat-de-hoteles{
    width: 90%;
    margin: 15px;
    margin-top: 50px;
    max-width: 90%;
    justify-content: center;
    align-items: center;
}
.imagenes-stars-categorias{
    width: 90%;
    padding: 0 25px 10px 25px;
}
.imagenes-stars-categorias img{
    width: 100%;
}
.text-stars-categorias{
    padding: 20px 25px 0 25px;
}
.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aca arranca estilo de pag paquetes */
.paquete-de-destino{
    display: flex;
    width: 100%;
    margin: 2px;
    border: 1px solid black;
    margin-top: 10px;
}
.imagen-de-paquete{
    border: 1px solid violet;
    display: flex;
    width: 100%;
}
.imagen-de-paquete img{
    width: 100%;
    size-adjust: cover;
}
.grilla-de-paquetes{

    margin: 20px;
    padding: 5px;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    display: flex;

}
.grilla-de-paquetes1{
    border: 3px solid white;
    margin: 1%;
    padding: 3px; 
    width: 33.3%;
} 
h1{
    text-align: center;
}
h2{
    text-align: center;
}

/* Pagina del paquete */

.grid-area{
    margin: 40px;
    border: 2px silver solid;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "main precio "
   
    "titulo metodo"
    "info metodo";
    height: 1000px;
    width: 60%;
}


.grid-titulo-de-paquete{
    
    background-color: aquamarine;
    grid-area: titulo;
}
.grid-main{

    background-color: orange;
    grid-area: main;
    width: 100%;
}
.grid-formas-de-pagos{
    background-color: skyblue;
    grid-area: metodo;
}
.grid-caracteristicas-de-paquete{

    background-color: pink;
    grid-area: info;
}
.grid-precio{
    background-color: tomato;
    grid-area: precio;
}
.grid-main img{
    width: 100%;
    image-rendering: auto;
}






/* button animation */
.button{
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    background-color: #edff21;
    border: none;
    overflow: hidden;
}
.button-inner{
    position: relative;
    display: flex;
    column-gap: 5px;
    align-items: center;
    z-index: 99;

}
.buttom::hover .button-inner{
    animation: start .25s forwards,end .25s .25s forwards;
}
.button::before,
.button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #094293;
    width: 100%;
    height: 100%;
}
.button::before{
    transform: translateY(100%);
}

.buttom::hover::before{
    transform: translateY(0);
    transition: transform .25;

}
.button::after{
    transform: translateY(-100%);
    transition: transform .25s;

}
.button:hover::after{
    transform: translateY(0);
    transition-delay: .25s;
}
@keyframes start{
    100%{
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes ends{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.titulo-de-destino{
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4{margin-top: 4px;}
p{
    margin: 10px;
}
