
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;


}
body{
    
    background-image: linear-gradient(109.6deg, rgba(163,217,207,1) 11.3%, rgba(4,178,217,1) 100.2%);
    min-height: 100vh;
}
.logo{
    align-items: center;
}
.bodbod{
    margin-top: 80px;
}
/* Contenedor generico */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

/* Menu */
.logo__comp {
    width: 50px;
    height: 50px;
}

/* NavStyle */
.navbar {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.navbar * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.navbar li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.navbar ul li a {
  padding: .5em .8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 14px;
}


/* Categorias del index */

.categorias0{
    width: 100%;
    height: 100%;
    display: flex;
}
.categorias1{
    width: 50%;
    height: 50%;
    margin: 2%;
    align-items: center;
}

.searcher0{
  height: 100%;
}
.searcher img{
    size-adjust: auto;
    border-radius: 7%;
    
}
.searcher2{
  margin-top: 15px;
}
.cuadrodebusqueda{
  align-self: center;
  bottom: 0%;
  height: 10rem;
  width: 20rem;
  border-radius: 7%;
  opacity: 0.7;
  
}
.cuadrodebusqueda1{
  margin: auto;
  left: 50%;
}


body{
	/* display: flex; */
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #FF3CAC;
  background: linear-gradient(to right, #2c3e50, #3498db);

}
.box{
	position: relative;
	/* width: 30%; */
	height: 150px;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
}
.box img{
  position: relative;
  z-index: 11;
  width: 70%;
  border-radius: 5%;
  left: 15%;
  top: -5%;
}
.box h2{
	position: relative;
	color: #fff;
	font-size:1em;
	z-index: 12;
  left: 35%;
  top: 75%; 
}
.box::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 140%;
	background: linear-gradient(#00ccff, #d400d4);
	animation: animate 4s linear infinite;
	box-shadow: 0 0 20px  #999;
}
.box::after{
	content: '';
	position: absolute;
	inset: 4px;
	background: #0e1538;
	border-radius: 16px;
}

@keyframes animate {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@media screen and (min-width:1000px){
  .box{
    height: 200px;
  }
}
.maincolorindex{
  color:#fff;
}



    /* section de ofertas */
.imagen-de-oferta{
  margin-top: 25px;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
}
.imagen-de-oferta1{
  width: 90%;
}
.imagen-de-oferta1 img{
  width: 100%;
  border-radius: 5%;
}
/* categorias de hoteles */
.cat-de-hoteles{
  width: 90%;
  margin: 15px;
  margin-top: 50px;
  max-width: 90%;
  justify-content: center;
  align-items: center;
}
.imagenes-stars-categorias{
  width: 90%;
  padding: 0 25px 10px 25px;
}
.imagenes-stars-categorias img{
  width: 100%;
}
.text-stars-categorias{
  padding: 20px 25px 0 25px;
}
.stars{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Aca arranca estilo de pag paquetes */
.paquete-de-destino{
  display: flex;
  width: 100%;
  margin: 2px;
  border: 1px solid black;
  margin-top: 10px;
}
.imagen-de-paquete{
  border: 1px solid violet;
  display: flex;
  width: 100%;
}
.imagen-de-paquete img{
  width: 100%;
  size-adjust: cover;
}
.grilla-de-paquetes{

  margin: 20px;
  padding: 5px;
  border: 2px solid black;
  justify-content: center;
  text-align: center;
  display: flex;

}
.grilla-de-paquetes1{
  border: 3px solid white;
  margin: 1%;
  padding: 3px; 
  width: 33.3%;
} 
h1{
  text-align: center;
}/* 
h2{
  text-align: center;
} */

.titulo-de-destino{
  justify-content: center;
  align-items: center;
  text-align: center;
}
h4{margin-top: 4px;}
p{
  margin: 10px;
}

.ft {
  margin-top: -5px;
  background-color: #566169;
}

body{
  background-color: #fcfcfc;
  height: 100vh;
  display: grid;/* 
  place-items: center center; */
}
.cardss{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  padding: 20px;
  grid-gap:40px;
}
.caard{
  background-color: rgba(251, 251, 251, 0.15);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);


}
.conntainer{
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);

}
img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.wavesss{
  margin-bottom:-15px;
}
.waves1{
  border: 2px #212529 solid;
}