$color-letra: #ffffff;
$color-border: #2c3e50;

body{
    background: linear-gradient(to right, #2c3e50, #3498db);
    width: 100%;
    align-items: center;
}
main{
    margin: 5%;
}
main img{
    width: 100%;
    border-radius: 5%;
}
section{
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px #2c3e50 solid;
    
    h2{
        color: $color-letra
    }
    p{
        color: $color-letra;
    }
}
section{
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    h1{
        color: $color-letra;
    }
    p{
        color: $color-letra;
    }
}
article{
    border: 2px solid $color-border;
    margin: 5%;
    h3{
        color: $color-letra;
    }
    p{
        color: $color-letra;
    }
}
aside{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid  $color-border;
    h2{
        color: $color-letra;
    }
    p{
        color: $color-letra;
    }
}


